*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 3fr 3fr 3fr 1fr;
  height: 100vh;
  width: 100vw;

  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;

  /* background-image: url('image/apple-touch-icon.png'); */
}

header {
  grid-column: 1/-1;
  grid-row: 1;
  text-align:center;
}

footer {
  grid-column: 1 / 7;
  grid-row: 5;
  text-align: right;
	background-color: #DFE0E0;
  padding-right: 10px;
}

#container {
  grid-column: 2;
  grid-row: 2/5;

  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 4em;
  grid-gap: 4px;
  border: solid 2px black;
  padding: 10px;
  background-color: rgb(240, 240, 250);
}

/*
Menu----------------------------------------------------------------------------
*/
#bandeau {
	/* width=80%; */
  grid-column: 2/-1;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: white;
	/* position: sticky; */
	top: 0px;
}

#bandeau ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#bandeau img {
  height: 47px;
  width: 100%;
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 5px;
}

#bandeau ul li {
	float: left;
}

#bandeau li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 25px;
  text-decoration: none;
}

#bandeau a:hover {
	color: #ffc442;
}

#bandeau li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #427dff;
}
/* https://www.pierre-giraud.com/html-css-apprendre-coder-cours/creation-menu-deroulant/ */


/*
Login----------------------------------------------------------------------------
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  grid-column: 2;
  grid-row: 1;
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}



#plateau{
  width:400px;
  height:400px;
  border:1px;
  border:1px solid #999;
 }
 #plateau div{
  width:50px;
  height:50px;
  float:left;
 }
 #plateau div{background: #fff}
 #plateau div:nth-child(2), #chess div:nth-child(4), #chess div:nth-child(6), #chess div:nth-child(8),
 #plateau div:nth-child(9), #chess div:nth-child(11), #chess div:nth-child(13), #chess div:nth-child(15),
 #plateau div:nth-child(18), #chess div:nth-child(20), #chess div:nth-child(22), #chess div:nth-child(24),
 #plateau div:nth-child(25), #chess div:nth-child(27), #chess div:nth-child(29), #chess div:nth-child(31),
 #plateau div:nth-child(34), #chess div:nth-child(36), #chess div:nth-child(38), #chess div:nth-child(40),
 #chess div:nth-child(41), #chess div:nth-child(43), #chess div:nth-child(45), #chess div:nth-child(47),
 #chess div:nth-child(50), #chess div:nth-child(52), #chess div:nth-child(54), #chess div:nth-child(56),
 #chess div:nth-child(57), #chess div:nth-child(59), #chess div:nth-child(61), #chess div:nth-child(63)
 {
 background-color:#000;
 }