@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url(https://fonts.googleapis.com/css2?family=Asul&display=swap);


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  grid-template-columns: 12em 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
  width: 100vw;

  padding: 0;
  margin: 0;
  background-color: rgb(42, 42, 42);
  font-family: 'Asul', sans-serif;
  font-weight: lighter;
}

p {
  color:#f2f2f2;
}

#container {
  grid-column: 2;
  padding: 2em;
  background-color: rgb(82, 82, 82);
}

/*----------------------------------------------------------------------------
Index
----------------------------------------------------------------------------*/
.index {
  display: grid;
  grid-template-rows: 10% 60% 30%;
  text-align: center;
}

#iconJouer {
  grid-column: 1/-1;
  /* text-align: center; */
  object-fit: contain;
  max-height: fit-content;
  height: 90%;
}

#iconJouer img {
  /* padding : 10em; */
  border-radius: 5em;
  height: 100%;
}

#contenu {
  display: grid;
  grid-template-columns: 50% 50%;
}


/*----------------------------------------------------------------------------
Menu
----------------------------------------------------------------------------*/
.menu {
  /* font-family: 'Asul', sans-serif; */
  color: rgb(100, 100, 100);
  grid-column: 1;
  background-color: rgb(42, 42, 42);

  display:flex;
  /* justify-content: space-between; */
  flex-direction: column;
}

.menu a {
  background-color: rgb(42, 42, 42); /* Grey background color */
  color: rgb(194, 194, 194); /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.menu a:hover {
  background-color: #1a1a1a; /* Dark grey background on mouse-over */
  color: rgb(255, 255, 255);
}

.menu a.active {
  background-color: #7c3636; /* Add a green color to the "active/current" link */
  color: white;
}

.menu .id {
  margin-top: 2em;
  text-align: center;
}

.menu .connection {
  /* border: 3px solid rgb(0, 0, 0); */
  padding : 2px;
  margin: 10px;
  border-radius: 10px;
  background-color: #7c3636;

}

.menu #logo {
  margin-top: 5px;
  margin-bottom: 1.5em;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.menu .partie_temporaire {
  margin-top: 10em;
  background-color: #51ff00; 
}

.menu #footer {
  text-align: center;
  font-size: smaller;
  margin-bottom: 1em;
  margin-top: auto;
}

.menu p {
  color: rgb(100, 100, 100);
}

/*----------------------------------------------------------------------------
Login
----------------------------------------------------------------------------*/
.login-page {
  grid-column: 1/-1;
  grid-row: 1/-1;
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #7c3636;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #d3d29e;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #7c3636;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

/*----------------------------------------------------------------------------
Choix partie
----------------------------------------------------------------------------*/
.choixPartie {
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
}

.choixPartie .wrapper-choix {
  margin: auto;
  padding: 3em;
  display: flex;
  flex-direction: column;
  max-width: 37em;
  max-height: 37em;
}

.wrapper-choix a {
  text-decoration: none;
  color:#f2f2f2;
}

.wrapper-choix .image-link {
  width: 80%;
  margin: auto;
}

.wrapper-choix img {
  width: 80%;
  height: auto;
  object-fit: contain;
}

#nouvellePartieAmis {
  grid-column: 1;
  grid-row: 1;
}

#chargerPartie {
  grid-column: 2;
  grid-row: 1;
}

/*----------------------------------------------------------------------------
Regarder
----------------------------------------------------------------------------*/
.choixObservation {
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
}

.choixObservation a {
  text-decoration: none;
  color:#f2f2f2;
}

.choixObservation .wrapper-choix {
  margin: auto;
  padding: 3em;
  display: flex;
  flex-direction: column;
  max-width: 40em;
  max-height: 40em;
}

/*----------------------------------------------------------------------------
Jeu
----------------------------------------------------------------------------*/
.partie {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 5em 1fr 5em;
}

.cimetiere {
  /* background-color: rgb(121, 58, 58); */
  display: flex;
  justify-content: center;
}

.cimetiere .j1 {
 grid-row: 1;
 grid-column: 1; 
}

.cimetiere .j2 {
  grid-row: 3 ;
  grid-column: 1; 
}

.cimetiere img {
width: 3em;
height: 3em;
}

#plateau{
  grid-column: 1;

  width:36em;
  height:36em;
  /* border:1px;
  border:1px solid #999; */
  margin: auto;
  border-radius: 50px;
}

#plateau div{
  /* background: #fff; */
  width:4.5em;
  height:4.5em;
  float:left;
}

.piece {
width: 100%;
height: 100%;
}

.case_noire_case{
  background-color:#7c3636;
}
.case_blanche_case{
  background-color:#e6e5d0;
}


#options {
  grid-column: 2;
  grid-row: 1/4;

  display:flex;
  justify-content: space-between;
  flex-direction: column;

  border-radius: 10px;
  margin-left: 0.5em;
  padding: 2em;
  background-color: rgb(42, 42, 42);
  color: rgb(231, 231, 231);
}

#option button {
  margin-top: 1em;
  margin-bottom: 5em;
}

/*----------------------------------------------------------------------------
Blabla
----------------------------------------------------------------------------*/
