body {
    display: grid;
    grid-template-columns: 12em 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
    width: 100vw;

    padding: 0;
    margin: 0;
    background-color: rgb(42, 42, 42);
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
  }
.menu {
    grid-column: 1;

    background-color: rgb(39, 39, 39);
}
  
  .menu a {
    background-color: rgb(42, 42, 42); /* Grey background color */
    color: rgb(231, 231, 231); /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
  }
  
  .menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
  }
  
  .menu a.active {
    background-color: #04AA6D; /* Add a green color to the "active/current" link */
    color: white;
  }


#container {
    /* grid-row: 1; */
    grid-column: 2;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 5em 1fr 5em;

    padding: 2em;
    background-color: rgb(82, 82, 82);
}

.cimetiere {
    background-color: rgb(121, 58, 58);
}

.cimetiere .j1 {
   grid-row: 1;
   grid-column: 1; 
}

.cimetiere .j2 {
    grid-row: 3 ;
    grid-column: 1; 
 }

#plateau{
    grid-column: 1;

    width:32em;
    height:32em;
    border:1px;
    border:1px solid #999;
    margin: auto;
}

#plateau div{
    /* background: #fff; */
    width:4em;
    height:4em;
    float:left;
}

/* #plateau div{background: #fff}
   #plateau div:nth-child(2), #plateau div:nth-child(4), #plateau div:nth-child(6), #plateau div:nth-child(8),
   #plateau div:nth-child(9), #plateau div:nth-child(11), #plateau div:nth-child(13), #plateau div:nth-child(15),
   #plateau div:nth-child(18), #plateau div:nth-child(20), #plateau div:nth-child(22), #plateau div:nth-child(24),
   #plateau div:nth-child(25), #plateau div:nth-child(27), #plateau div:nth-child(29), #plateau div:nth-child(31),
   #plateau div:nth-child(34), #plateau div:nth-child(36), #plateau div:nth-child(38), #plateau div:nth-child(40),
   #plateau div:nth-child(41), #plateau div:nth-child(43), #plateau div:nth-child(45), #plateau div:nth-child(47),
   #plateau div:nth-child(50), #plateau div:nth-child(52), #plateau div:nth-child(54), #plateau div:nth-child(56),
   #plateau div:nth-child(57), #plateau div:nth-child(59), #plateau div:nth-child(61), #plateau div:nth-child(63)
   {
   background-color:#000;
} */

.case_noire_case{
    background-color:#7c3636;
}
.case_blanche_case{
background-color:#ececec;
}


#options {
    grid-column: 2;
    grid-row: 1/4;

    display:flex;
    justify-content: space-between;
    flex-direction: column;

    margin-left: 0.5em;
    padding: 2em;
    background-color: rgb(42, 42, 42);
    color: rgb(231, 231, 231);
}

#option button {
    margin-top: 1em;
    margin-bottom: 5em;
}